:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--alternative-background-color: #f5f4fa;
	--background-color-footer: #2f303a;
	--background-color-button-portfolio: #f5f4fa;
	--background-color-hover-focus: #188ce8;
}
body {
	font-size: 14px;
	letter-spacing: 0.03em;
	font-family: Roboto, Verdana, sans-serif;
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
}
/*------reset start---------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.link {
	text-decoration: none;
	color: currentColor;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}
/*-----------------------------HEADER-----------------*/
.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}
header {
	border-bottom: 1px solid #ececec;
}
.header-container {
	display: flex;
	align-items: center;
}
.nav-link {
	padding: 32px 0;
}
.logo {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--accent-color);
	margin-right: 93px;
}
.logo .logo-black {
	color: var(--title-text-color);
}
.nav-list {
	display: flex;
	align-items: center;
	gap: 50px;
}
.nav-item {
	list-style-type: none;
}
.header {
	display: flex;
	margin-left: auto;
	align-items: baseline;
}

.header-mail {
	padding: 32px 0;
}
.header-tel {
	padding: 32px 0;
}

.nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.33;
	letter-spacing: 0.02em;
	color: var(--title-text-color);
	text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}
.nav-list .nav-link.current {
	color: var(--accent-color);
}
.header {
	display: flex;
	list-style-type: none;
}
.header-mail,
.header-tel {
	display: flex;
}
.header-tel {
	margin-left: 50px;
}
.header-mail-link,
.header-tel-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.33;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--primary-text-color);
}
.header-mail-link:focus,
.header-mail-link:hover,
.header-tel-link:focus,
.header-tel-link:hover {
	color: var(--accent-color);
}
.section {
	padding: 94px 0;
}
/*----------------------------------------HERO-----------------------------------*/
.hero {
	background-color: var(--background-color-footer);
	text-align: center;
	padding-bottom: 200px;
	padding-top: 200px;
}
.hero .container {
	align-items: center;
	justify-content: center;
}
.container.button {
	padding-left: 492px;
}
.hero .title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-white-color);
	width: 696px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
.hero .primary-button {
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	cursor: pointer;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 10px 32px;
	min-width: 216px;
	border: none;
}
/*---------------------------------------ADVANTAGES-----------------*/
.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.advantages {
	display: flex;
	gap: 30px;
}
.advantages .item {
	list-style-type: none;
}
.item .header-item {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--title-text-color);
	margin-bottom: 10px;
}
.item .text {
	line-height: 1.71;
	width: 270px;
}
/*------------------------------------WORK-----------------------*/
.work.section {
	padding-top: 0;
}
.work .list {
	list-style: none;
}
.work .title {
	margin-bottom: 50px;
}
.work-images {
	display: flex;
	gap: 30px;
}
/*-------------------------------TEAM----------------------------*/
.team {
	background-color: var(--alternative-background-color);
}
.team .title {
	margin-bottom: 50px;
}
.team .title,
.work .title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--title-text-color);
}
.list-team {
	display: flex;
	gap: 30px;
}
.team .list {
	list-style: none;
}
.list-team .list-item {
	background-color: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.text-under-photo {
	padding: 30px 0;
	border-radius: 0px 0px 4px 4px;
}
.team .name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--title-text-color);
	margin-bottom: 10px;
}
.list-item .proffesion {
	font-size: 16px;
	line-height: 1.19;
}
.list-item .proffesion,
.list-item .photo,
.list-item .name {
	text-align: center;
}
/*--------------------------------------------FOOTER--------------------------*/
.footer {
	background-color: var(--background-color-footer);
	padding: 60px 0;
}
.logo-white {
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--primary-white-color);
}
.logo-footer {
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1, 19;
	letter-spacing: 0.03em;
	text-decoration: none;
	color: var(--accent-color);
}
address {
	margin-top: 20px;
}
.address-list {
	list-style: none;
}
.address-list-item:not(:last-child) {
	margin-bottom: 9px;
}
.address-list .location {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-white-color);
	text-decoration: none;
}
.address-list .mail,
.address-list .tel {
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
}

.address-list .location:focus,
.address-list .location:hover,
.address-list .mail:hover,
.address-list .mail:focus,
.address-list .tel:hover,
.address-list .tel:focus {
	color: var(--accent-color);
}
.address-list .mail {
	margin-bottom: 9px;
}
/*---------------------------------------PORTFOLIO-----MAIN--------------------*/
.filter,
.portfolio {
	list-style: none;
}

/* -------------------FILTER------------------- */
.filter .button {
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	background-color: var(--background-color-button-portfolio);
	border-radius: 4px;
	border: none;
	padding: 6px 22px;
}
.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	gap: 8px;
}

.filter .button:hover,
.filter .button:focus,
.primary-button:hover,
.primary-button:focus {
	color: var(--primary-white-color);
	background-color: var(--background-color-hover-focus);
}
.filter .button {
	cursor: pointer;
}
/* -------------------PORTFOLIO ----------------*/
.portfolio {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}

.portfolio-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--title-text-color);
	margin-bottom: 4px;
}
.portfolio-text {
	font-size: 16px;
	line-height: 1.86;
}
.portfolio-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.border {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
}
