.clients .list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.logo-link {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid currentColor;
	border-radius: 4px;
	color: var(--main-icon-color);
	width: 210px;
	height: 92px;
	transition: color 250ms var(--timing-hover-focus);
	&:focus,
	&:hover {
		border-color: var(--accent-color);
		color: var(--accent-color);
	}

	@media screen and (min-width: 768px) {
		width: 226px;
	}
	@media screen and (min-width: 1200px) {
		width: 170px;
	}
}

.logo-client {
	fill: currentColor;
}
