.header {
	border-bottom: 1px solid #ececec;
}
header .container {
	display: flex;
	align-items: center;
}
.header-container {
	@media screen and (max-width: 767px) {
		display: none;
	}
	display: flex;
	align-items: center;
}
