.hero {
	background-color: var(--background-color-footer);
	text-align: center;
	padding-bottom: 200px;
	padding-top: 200px;

	@media screen and (max-width: 1199px) {
		padding-bottom: 118px;
		padding-top: 118px;
	}
}
