// -----------hero-overlay----------//
.hero__overlay {
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1600px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-position: center;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/index/mobile-hero-img1x.jpg);
	background-color: var(--background-hero-img);
	@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/index/mobile-hero-img@2x.jpg);
	}

	@media screen and (min-width: 768px) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/index/tablet-hero-img.jpg);
		background-color: var(--background-hero-img);
		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/index/tablet-hero-img@2x.jpg);
		}
	}

	@media screen and (min-width: 1200px) {
		height: 600px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/index/desktop-hero-img.jpg);
		background-color: var(--background-hero-img);
		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url(../images/index/desktop-hero-img@2x.jpg);
		}
	}
}

// ------portfolio
.portfolio-thumb {
	position: relative;
	overflow: hidden;
	transition: color 250ms var(--timing-hover-focus);
}

.portfolio-overlay {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);

	padding: 63px 24px;
	display: flex;
	align-items: center;

	font-size: 18px;
	line-height: 1.6;
	color: var(--primary-white-color);

	transform: translateY(100%);
	transition: translateY var(--timing-hover-focus);
	transition: transform 250ms var(--timing-hover-focus);
}
