.overlay-text {
	display: block;
}

.filter {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	gap: 8px;
}

.portfolio-item {
	transition: color 250ms var(--timing-hover-focus);
	&:nth-last-child(-n + 3) {
		margin-bottom: 0;
	}
}

.portfolio-link {
	display: block;
	transition: color 250ms var(--timing-hover-focus), box-shadow 250ms var(--timing-hover-focus);
	&:hover,
	&:focus {
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	}
	&:hover .portfolio-overlay,
	&:focus .portfolio-overlay {
		transform: translateY(0);
	}
}

.portfolio .portfolio-item:hover {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	transition: color 250ms var(--timing-hover-focus);
}

.portfolio-text {
	font-size: 16px;
	line-height: 1.86;
}

.border {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
}
