.work.section {
	padding-top: 0;

	@media screen and (max-width: 1199px) {
		display: none;
	}
}
//------------ work-section-----------//
.work__images {
	display: flex;
	gap: 30px;
}
.work__thumb {
	position: relative;
}
